In [1]:
import pandas as pd
import numpy as np
import glob
import os.path

In [93]:
list_of_files=glob.glob('./cdips_dell_test/*.txt')
columns=['webpageID','og:type','pagetype','salestype','country','language']
df=pd.DataFrame(columns=columns,index=range(len(list_of_files)))
tmp=[]
for i in range(len(list_of_files)):
    try:
        f=pd.read_csv(list_of_files[i],header=None,)
    except ValueError:
        tmp.append(i)
        continue
    listf=[f.loc[x,0].lower().split(' ') for x in range(f.shape[0])]
    dicf={}
    for j in listf:
        dicf[j[0]]=j[1]
    for key in dicf:
        df.loc[i,key]=dicf[key]
    df.loc[i,'webpageID']=os.path.basename(list_of_files[i])[:7]
df.tail()

    webpageID   og:type  pagetype                salestype country language
494   044390_   product   product                franchise      us       en
495   044414_   product   product                franchise      us       en
496   044477_   product   product                franchise      us       en
497   044643_   product   product                franchise      us       en
498   044679_  category  category  parent_product_category      us       en

In [96]:
df.to_csv('featuretable.csv', index=False)

newdf=pd.read_csv('featuretable.csv')
newdf.head()

  webpageID   og:type  pagetype                salestype country language
0   000051_  category  category          config_category      us       en
1   000075_   product   product                franchise      us       en
2   000087_  category  category  parent_product_category      us       en
3   000131_   product   product                franchise      us       en
4   000154_   product   product                franchise      us       en

In [97]:
df.to_csv('featuretable.txt', index=False)

newdf=pd.read_csv('featuretable.txt')
newdf.head()

  webpageID   og:type  pagetype                salestype country language
0   000051_  category  category          config_category      us       en
1   000075_   product   product                franchise      us       en
2   000087_  category  category  parent_product_category      us       en
3   000131_   product   product                franchise      us       en
4   000154_   product   product                franchise      us       en